@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./img/WhatsApp\ Image\ 2024-04-16\ at\ 12.57.48_e07f2567.jpg');
  background-size: cover;
  background-position:center ;

}

